





<div class="control-group">
  <%= f.label :multiplier, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :multiplier %>
      </div>
    </div>


    </div>
  </div>

  <div class="actions">
    <%= f.submit %>

  </div>
<% end %>